.poster-container {
    position: relative;
  }
  
  .poster-image {
    width: 290px !important; /* Puedes ajustar el tamaño según tus necesidades */
    height: 300px; /* Puedes ajustar el tamaño según tus necesidades */
    border-radius: 8px;
    object-fit: cover;
  }
  
  .movie-info,
  .series-info {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    width: 100%;
    display: none;
  }
  
  .poster-container:hover .movie-info,
  .poster-container:hover .series-info {
    display: block;
  }
  